<%- include('../partials/header') %>


<div class="product">
<div class="productimg">
  <% if (product.pics[0] && (product.pics[0]).includes('http')) { %>
  <img src="<%= product.pics[0] %>" alt="<%= product.name %>">
  <%}else{%>
  <img src="http://<%= product.pics[0] %>" alt="<%= product.name %>">
  <%}%>
  </div>
  <!-- <img src="<%= product.pics[0] %>"></div> -->
  
<div class ="productdetails">
  <div class="p-4">
  
    <p class="lead font-weight-bold"><%= product.name %></p>
    
    <p class="lead">
      <span>$<%= product.price %></span>
    </p>
  
  
    <p class="lead font-weight-bold">Description</p>
  
    <p><%- product.description %></p>
  
    <% if (user) { %>
    <form id="add-review-form" method="POST" action="/products/user/id=<%= user._id %>&pro=<%= product._id %>">
      <input type="submit" value="Add To Cart">
    </form>
    <% }%>
  
  </div>

</div>
</div>
<br><br>
<h2>Reviews</h2>
<% if (user) { %>
  <form id="add-review-form" method="POST" action="/products/<%= product._id %>/reviews">
    <textarea name="content" placeholder="Write a Review"></textarea>
    <label>Rating:</label>
    <select name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <input type="submit" value="Add Review">
  </form>
<% } %>


<% if (product.reviews.length) { %>
  <% let total = 0 %>
  <% product.reviews.forEach(function(r) { %>
<div class="card card-inner" style="min-width: 55%;">
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">
        <img src="<%= r.userAvatar %>" class="img img-rounded img-fluid" style="min-width: 100%;"/>
        <p class="text-secondary text-center"><%= r.createdAt.toLocaleDateString() %></p>
      </div>
      <div class="col-md-10">
        <p><strong><%= r.userName %></strong>
          <span class="float-right">
        <%for (let i = 0; i < 5; i++){%>
          <%if(r.rating <= i){%>
            <span ><i class="fa fa-star"></i></span>
            <%}else{%>
            <span ><i class="text-warning fa fa-star"></i></span>

          <%}%>
          <%}%>
          </span>
        </p>
        <p><%= r.content %></p>
        <p>
          <% if (user && user._id.equals(r.user)) { %>
          <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
            <button type="submit" class="float-right btn-danger"> <i class="fa fa-trash"></i> Delete</button>
            
          </form>
          <% } %>
        </p>
      </div>
    </div>
  </div>
</div>
<% }); %>
<% } else { %>
<h5>No Reviews Yet</h5>
<% } %>
<%- include('../partials/footer') %>